/*-- scss:defaults --*/
$presentation-heading-color: #001c54 !default;

/*-- scss:rules --*/
img {
  box-shadow: 8px 8px 0px rgba(0, 0, 0, .3);
}

img.slide-logo {
  box-shadow: none;
}

.custom-title {
  h1, h2 {
    color: #800080; 
  }
}
